html,
body {
	background: #193441;
}

svg {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
}

h1 {
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	color: #fcfff5;
}
