html,
body {
	background: #193441;
}

svg {
	position: absolute;
	top: 80px; right: 0; bottom: 0; left: 0;
	margin: auto;
}

h1 {
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	margin: 20px 0;
	line-height: 40px;
	text-align: center;
	color: #fcfff5;
}
